# Credenciales listas para el agente Navasoft (Windows remoto)
NAV_USUARIO=20610531491
NAV_CONTRASENA=8oca5ion
NAV_BASE_URL=http://38.210.1.85:85
NAV_ESTADO=todos
NAV_DESDE=01/01/2010

# Cola del dashboard
NAV_QUEUE_URL=https://www.bocasion.com/out/api/navasoft.php
NAV_QUEUE_KEY=NAV_AGENT_2026_8oca5ion
